<div id="appContainer" class="fade-in">
   <div id="classification"></div>
   <!--<div id="headerBar"></div>-->
   <div id="sideBar">
      <div class="nav-left">
         <div class="nav-cell">DAVT</div>
      </div>
      <div class="nav-right">
         <div class="nav-cell">
            <input type="text" placeholder="Search" />
            <button>&#128269;</button>
            <button>&#x23FB;</button>
         </div>
      </div>
   </div>
   <div id="viewContainer"></div>
</div>
<script type="text/javascript" src="js/controllers/app.js"></script>
