<h2 class="page-title">Draft Message</h2>
<div class="table-sections">

  <div class="column left-column">
    <form id="emailForm" class="email-form">

      <div class="form-row">
        <div class="form-group third-width">
          <!-- <label for="from">From:</label> -->
          <input type="text" id="from" name="from" class="input-field" placeholder="From">
        </div>
        <div class="form-group third-width">
          <!-- <label for="to">To:</label> -->
          <input type="text" id="to" name="to" class="input-field" placeholder="To">
        </div>
        <div class="form-group third-width">
          <!-- <label for="to">To:</label> -->
          <input type="text" id="subject" name="subject" class="input-field" placeholder="Subject">
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="info">Info:</label> -->
        <input type="text" id="info" name="info" class="input-field" placeholder="Info">
      </div>

      <div class="form-row">
        <div class="form-group third-width">
          <!-- <label for="precedence">Precedence:</label> -->
          <select id="precedence" name="precedence" class="input-field">
            <option disabled>Precedence</option>
            <option selected value="ROUTINE">ROUTINE</option>
            <option value="PRIORITY">PRIORITY</option>
            <option value="IMMEDIATE">IMMEDIATE</option>
            <option value="FLASH">FLASH</option>
          </select>
        </div>
        <div class="form-group third-width">
          <!-- <label for="classification">Classification:</label> -->
          <select id="classification" name="classification" class="input-field">
            <option disabled>Classification</option>
            <option selected value="UNCLAS">UNCLAS</option>
            <option value="CONFIDENTIAL">CONFIDENTIAL</option>
            <option value="SECRET">SECRET</option>
            <option value="TOP SECRET">TOP SECRET</option>
          </select>
        </div>
        <div class="form-group third-width">
          <!-- <label for="datetime">Date/Time:</label> -->
          <input type="text" id="datetime" name="datetime" class="input-field" placeholder="YYYY-MM-DD HHMM">
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="body">Message Body:</label> -->
        <textarea id="body" name="body" rows="30" class="textarea-field" placeholder="Message Body" spellcheck="true"></textarea>
      </div>
    </form>
  </div>

  <div class="column right-column">
    <!-- <label for="from">Preview:</label> -->
    <textarea id="preview" name="preview" rows="30" class="textarea-field" placeholder="Message Body" readonly></textarea>
  </div>

  <div style="clear: both;"></div>
</div>
  <button type="submit" class="send-button">Send</button>
