<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
   </head>
   <body>
     <div id="loginView">
       <div id="loginContainer" class="fade-out">
         <div class="left-pane">
           <form id="loginForm">
             <h2>Login</h2>
             <label for="username">Username</label>
             <input type="text" id="username" name="username" />
             <label for="password">Password</label>
             <input type="password" id="password" name="password" />
             <button type="submit">Login</button>
             <div id="loginMessage" style="padding: 10px 0px; min-height: 3em"> </div>
           </form>
         </div>
         <div class="right-pane">
           <div class="infoText">
             <h2>Welcome to DAVT</h2>
             <p>The Drafting and Validation Tool (DAVT).<br />Accuracy, validation, and compliance.</p>
           </div>
         </div>
       </div>
     </div>
   </body>
   <script type="text/javascript" src="js/controllers/login.js"></script>
</html>
