html, body {
  margin: 0; padding: 0; height: 100%;
  font-family: Calibri;
  color: #DFD0B8;
}

#appContainer, #loginView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px solid blue;
  box-sizing: border-box;
  overflow: hidden;
}

#appContainer {
  background-color: red;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#viewContainer {
  height: 100%;
  border: 0px solid red;
  background-color: white;
  padding: 1px;
}

#sideBar {
  background-color: black;
  padding: 15px 30px;
  overflow: hidden; /* Contain floats */
  height: 60px;
  font-family: "Segoe UI", "Segoe UI Symbol";
}

.nav-left,
.nav-right {
  display: table;
  height: 100%;
}

.nav-cell {
  display: table-cell;
  vertical-align: middle;
}

.nav-left {
  float: left;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.nav-right {
  float: right;
}

.nav-right input {
  padding: 5px;
  font-size: 16px;
}

.nav-right button {
  font-size: 18px;
  margin-left: 5px;
}


.search-box {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
}

.power-btn {
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 16px;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Segoe UI Symbol";
}



#navBar {       /* fixed height */
  background-color: #222831;
  line-height: 50px;
  padding-left: 10px;
}

#sideBar table {
  border: 1px solid red;
  width: 100%;
}

#sideBar td, tr {
  border: 1px solid blue;
}

.classification {
  background-color: #000000;
  color: white;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}

.classification.unclassified {
  background-color: #4CAF50; /* Green */
}

.classification.cui {
  background-color: #007A33; /* CUI Green */
  color: white;
}

.classification.confidential {
  background-color: #000080; /* Navy Blue */
  color: white;
}

.classification.secret {
  background-color: #FF0000; /* Red */
  color: white;
}

.classification.topsecret {
  background-color: #FF6600; /* DoD Orange */
  color: black;
}

.classification.topsecret_sensitive {
  background-color: #800080; /* Purple */
  color: white;
}

#loginContainer {
  display: flex;
  height: 100%;
  background-color: white;
  z-index: 1;
}

.left-pane {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  border-right: 2px solid #cce7ff;
}

#loginForm {
  width: 100%;
  max-width: 400px;
}

#loginForm h2 {
  color: #145da0;
  margin-bottom: 20px;
  text-align: center;
}

#loginForm label {
  display: block;
  margin-bottom: 5px;
  color: #145da0;
}

#loginForm input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

#loginForm button {
  width: 100%;
  padding: 15px;
  background-color: #145da0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #0a2740;
}

.right-pane {
  width: 50%;
  background: linear-gradient(to top, #0a2740, #145da0); /* Dark blue gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.right-pane h2 {
  margin-bottom: 10px;
}

.infoText {
  max-width: 400px;
}
